/*
Theme Name:sydney-child
Template:sydney
Version:1.53
*/
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h5,a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
  color:black;

}

.overlay{
  background-color: black;
  opacity:0.7;
  height:100%;
  position:relative;
}

.panel-grid .overlay {
  z-index: 10;
}

/*　＜共通＞ヘッダー関係　*/

.site-header{
  /*-webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);  */
  display: relative;
  position: absolute;
}

.site-header{
  position: fixed;
  top:0;
}

/*　＜共通＞メニューバー関係　*/


@media only screen and (max-width: 1024px)
.site-header {
    background-color: rgb(0,0,0, 0.9) !important;
}


@media only screen and (max-width: 1024px)
.site-header.fixed {
  position: fixed !important;
}



/*　＜共通＞フッター関係　*/

.footmenu-wrapper{
  height:200px;
  background-size: cover;
  background-position-y: bottom;
  background-image: url(http://localhost:8888/wordpress3/wp-content/uploads/2019/04/DSC08865-Pano-2.jpg);
}

.site-footer{
  line-height: 50px;
  padding-top:100px;
  background-color: white;
  padding:0px;
}

footer{
  padding:0;
  line-height:50px;
  z-index:0;
  background-color: white;
}


/*  投稿ページ(home.php)関連  */

.hentry .title-post {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.masonry-layout .hentry {
	padding: 10px;
	border: gray solid 0px;
	border-radius: 10px;
  max-width: 100%;
  height:300px;
  float:left;
  margin:5px;
  box-sizing: border-box;
  /*background-color: RGB(250,240,245,0.8);*/
  padding-left: 5%;
  padding-right:5%;
}


.masonry-layout .hentry:hover {
    content: 'NEWS';
    background-color: RGB(240,128,128);
    position: absolute;
    top: 10;
    left: 10;
    float:center;
    z-index: 10;
}

.entry-header{
  word-break: break-all;
  overflow: hidden;
  margin: auto;
   text-overflow: ellipsis;
}

.content-area .entry-thumb {
  text-align: center;
  margin-bottom: 0px;
}

.masonry-layout .hentry img{
  max-height:200px;
  max-width:100%;
  object-fit: contain;
  z-index:0;
}

.content-area{
  width: 100%;
}

/* トップページ関連 */
.front-page{
  margin-top: 30px;
  width:100%;
  padding:0;
  margin-left:0px;
  margin-right:0px;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.news-wrapper{
  padding-top: 0px;
  padding-bottom: 20px;
  z-index: 10;
}

.liveinfo-wrapper{
  background-color: #1c1c1c;
  padding-top: 20px;
  padding-bottom: 20px;
}

.liveinfo-wrapper h5,.liveinfo-wrapper a{
  color:white;
}


.sns-wrapper{

  height: 300px;
  padding-top:30px;
}

/*　＜パーツ＞投稿関連　*/

.entry-post{
  display:none;
}

.entry-footer{
  display:none;
}




/*　投稿ページ(single.PHP)関連　*/
.attachment-large-thumb{
  max-height:500px;
  object-fit: contain;
}
